.addEventHeader {
    text-align: center;
}

#form {
    width: 90%;
    margin: 0px auto;
}
/* dropzone */
.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
    
}

.dropzone:hover {
    border: 2px solid #f16624;
    color: #dadada !important;
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}

#imagePreview {

    height: 350px;
    width: 100%;
    /* border: solid 2px red; */
    object-fit: contain;
}