<nav class="navbar navbar-expand-lg navbar-dark mat-elevation-z4">

  <a class="navbar-brand" routerLink="/"> {{appName}} </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="#">Log Out</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Go to Site</a>
      </li>
    
    </ul>

  </div>
</nav>

<div class="skew2"></div>
<div class="skew3"></div>
<div class="skew4"></div>

