.myPDF {
    height: 360px;
}
.yearInput {
    width: 70px;
    text-align: center;
    margin: 20px 0px;
}
#fileInput {
    background: red;
}

#message {
    padding: 5px;
    color: rgb(37, 131, 255);
    border-left: 4px solid rgb(37, 131, 255);
}