

        <!-- <h1>Log In</h1>

        <form (submit)="onSubmit()">

    
            <label for="email">Email</label>
            <input  type="email" name="email" [(ngModel)]="email" required>
        

        
              <label for="password">Password</label>
              <input type="password" name="password" [(ngModel)]="password" required>
   

              <input type="submit" value="Log In">
        </form> -->


        <div class="container">
   
            <h1>WRC <span class="h1span">Staff</span> </h1>
            
           <div>
              <form (submit)="onSubmit()">
             
             <label> Email 
                <input class="field"  type="email" name="email" [(ngModel)]="email" required>
             </label>
             
             <label> Password 
                <input class="field" type="password" name="password" [(ngModel)]="password" required>
             </label>
             
             <input type="submit" value="Log In" id="sub">
             </form>
           </div>
        </div>