<!-- <aside class="sidebar mat-elevation-z8" *ngIf="isOpen, else minifiedSidebar" > -->

 <aside class="sidebar mat-elevation-z8" [class.minify]="!isOpen" *ngIf="isLoggedIn">
    <div class="icon-block-lg right-al openButton" (click)="toggleSidebar()">
        <span class="material-icons sidebar-icon" [class.rotate]="!isOpen">navigate_before</span>
     </div>
     <!-- routerLinkActiveOptions is used so the first item is not always active by default -->
     <!-- <div class="icon-block-lg" routerLink="/" [routerLinkActive]="['isActive']" [routerLinkActiveOptions]="{exact: true}">
        <span class="material-icons sidebar-icon">equalizer</span> <h4 class="icon-description" [class.hide]="!isOpen">Dashboard</h4>
     </div> -->

     <div class="icon-block-lg" routerLink="/" [routerLinkActive]="['isActive']" [routerLinkActiveOptions]="{exact: true}">
         <span class="material-icons sidebar-icon">event_available</span> <h4 class="icon-description" [class.hide]="!isOpen">Events</h4>
      </div>

      <!-- <div class="icon-block-lg" routerLink="/newsfeed" [routerLinkActive]="['isActive']">
         <span class="material-icons sidebar-icon">textsms</span> <h4 class="icon-description" [class.hide]="!isOpen">News Feed</h4>
      </div> -->

      <div class="icon-block-lg" routerLink="/reports" [routerLinkActive]="['isActive']">
         <span class="material-icons sidebar-icon">description</span> <h4 class="icon-description" [class.hide]="!isOpen">Yearly Reports</h4>
      </div>

      <div class="icon-block-lg" routerLink="/staff" [routerLinkActive]="['isActive']">
        <span class="material-icons sidebar-icon">group</span> <h4 class="icon-description" [class.hide]="!isOpen">Staff</h4>
     </div>
<!-- 
      <div class="icon-block-lg">
         <span class="material-icons sidebar-icon">help_outline</span> <h4 class="icon-description" [class.hide]="!isOpen">Tutorial</h4>
      </div> -->
</aside>

